###################################################
    Domain: {{ domain_name | default(omit) }}
    Service: {{ service_name | default(omit) }}
    Environment: {{ environment_type | default(omit) }}
###################################################